section(class="section-custom" id="sub-seccion-inicio")
    div(class="row")
        div(class="col-sm-12")
            h2(class="text-center section-title") Sistema gestor de inscripciones de la Alberca Olímpica IPN Zacatenco
            hr(class="hr-custom")
            div(class="col-sm-3")
                <img src="img/alberca/alberca.jpg" class="img-responsive" alt="Alberca IPN Zacatenco">
            div(class="col-sm-9")
            p(class="text-justify") Para comenzar con el desarrollo del proyecto, correspondiente al a unidad de aprendizaje Ingeniería de Software, se presentó la oportunidad de elegir entre dos proyectos ya existentes, uno de ellos era el registro e inscripción para la Alberca Olímpica en la Unidad Zacatenco del IPN y el otro era sobre la asistencia de la misma.
            p(class="text-justify") Se decidió como equipo  tomar para trabajar el proyecto sobre el registro e inscripción de la alberca Zacatenco debido a que la mayoría del proyecto, aunque no estaba terminado, se encontraba en mejores condiciones tanto de programación como documentación, y nos dimos cuenta de que sería lo más prudente seguir con este proyecto. 
            p(class="text-justify") Tomando en cuenta los conocimientos adquiridos en a lo largo de nuestra carrera universitaria, se hizo un testeo del proyecto tomando en cuenta los aspectos de programación y documentación y nos dimos cuenta que, aunque el proyecto estaba funcionando bien no coincidían con la documentación con el sistema realizado  y algunas partes del modelo de datos estaban planteadas erróneamente .
            p(class="text-justify") Por la anterior decidimos comenzar con este proyecto para definirlo correctamente y poder dar una solución mejor estructurada y con el funcionamiento al 100% con el fin de solventar la problemática de inscripción y registro para Alberca Olímpica en la Unidad Zacatenco del Instituto Politécnico Nacional.  

            