section(class="section-custom" id="sub-seccion-situacion-inicial")   
    div(class="row")
        div(class="col-sm-12")
            h2(class="section-title") Situación Inicial
            hr(class="hr-custom")
            p(class="text-justify") Para realizar el Sistema de inscripción y asistencia a la alberca olímpica del IPN se nos otorgó una versión funcional del sistema para el módulo de inscripción elaborado en PHP y HTML a su vez se nos presentó la siguiente documentación: requisitos funcionales y no funcionales, diagramas correspondientes al modelado del sistema y un modelo de datos propuesto.
            p(class="text-justify") De acuerdo a lo anterior las vistas diseñadas en PHP Y HTML utilizando su modelo de datos correspondiente presentaba deficiencias en cuanto a relaciones y validaciones para las vistas principales, a su vez este camuflajea funcionalidades importantes en el sistema mostrando vistas “funcionales” en el FrontEnd pero deficientes o no desarrolladas para BackEnd y esto generó que el sistema no soportará la concurrencia de muchos alumnos mandando peticiones de inscripciones al mismo tiempo algo que era necesario para ese momento establecido en los requisitos funcionales.
            