section(class="section-custom" id="sub-seccion-desicion")   
    div(class="row")
        div(class="col-sm-12")
            h2(class="section-title") Nuestra Desición
            hr(class="hr-custom")
            p(class="text-justify") El día 20 de marzo de 2017 se tomó la decisión en el equipo de comenzar desde cero la programación debido a que se detectaron errores en los modelos de datos y en la programación, dichos errores conllevarían mucho más tiempo y recursos para ser corregidos, por lo tanto, acordamos solo retomar solo ciertos segmentos e ideas para ayudarnos con la lógica del nuevo sistema, por lo tanto se decidió hacer una reingeniería al proyecto.
            h4(class="black") La reingeniería consiste a amplio espectro en:
            ul
                li Desarrollar un nuevo modelo de datos
                li Codificar el sistema desde cero y adoptando desde un principio Laravel
                li Desarrollar nuevas vistas y maquetas del sistema
                li Reestructurar las reglas del negocio acorde a la reunión informativa que se mantuvo Coordinador de la alberca
            p(class="text-justify") A pesar de que no se realizó un cambio radical en cuanto al contexto del proyecto,  ya que retomamos la idea principal de un sistema para inscripción de la Alberca Olímpica del IPN,  se decidió hacer cambios, tanto en documentación como en programación, los cuales modifican totalmente el funcionamiento de nuestro sistema, por lo que un rediseño implicaría una gran cantidad de recursos y tiempo.
            p(class="text-justify") Es por ello que la reingeniería es la opción óptima para el desarrollo de este proyecto en todos los sentidos.