section(class="section-custom" id="sub-seccion-herramientas")   
    div(class="row")
        div(class="col-sm-12")
            h2(class="section-title") ¿Qué herramientas se utilizaran?
            hr(class="hr-custom")
            p(class="text-justify") 