section(class="section-custom" id="sub-seccion-historias-usuario")   
    div(class="row")
        div(class="col-sm-12")
            h2(class="section-title") Historias de Usuario
            hr(class="hr-custom")
            h3(class="text-center black") Aspirante
            //- Comienza historia de usuario
            h3 Elección de matricula
            p
                strong Número:
                |&nbsp 1
            p
                strong Usuario:
                |&nbsp Aspirante
            p
                strong Prioridad:
                |&nbsp 
            p
                strong Descripción:
                |&nbsp Quisiera poder ver los grupos en los que hay lugares disponibles y pre-registrarme en el que quiero.
            //- Comienza historia de usuario
            h3 Hoja de Registro
            p
                strong Número:
                |&nbsp 2
            p
                strong Usuario:
                |&nbsp Aspirante
            p
                strong Prioridad:
                |&nbsp 
            p
                strong Descripción:
                |&nbsp Quisiera que se genere una Hoja de Registro con los datos proporcionados en el pre-registro y las indicaciones a seguir para realizar la inscripción.
                //- Comienza historia de usuario
            h3 Envío de Hoja de Registro a correo electrónico
            p
                strong Número:
                |&nbsp 3
            p
                strong Usuario:
                |&nbsp Aspirante
            p
                strong Prioridad:
                |&nbsp 
            p
                strong Descripción:
                |&nbsp Quisiera recibir un correo electrónico con mi hoja de registro.

            
