section(class="section-custom" id="sub-seccion-historias-usuario")
    div(class="row")
        div(class="col-sm-12")
            h2(class="section-title") Historias de Usuario
            hr(class="hr-custom")
            h3(class="text-center black") Aspirante
            //- Comienza historia de usuario
            h3 Elección de matricula
            p
                strong Número:
                |&nbsp 1
            p
                strong Usuario:
                |&nbsp Aspirante
            p
                strong Prioridad:
                |&nbsp
            p
                strong Descripción:
                |&nbsp Quisiera poder ver los grupos en los que hay lugares disponibles y pre-registrarme en el que quiero.
            //- Comienza historia de usuario
            h3 Hoja de Registro
            p
                strong Número:
                |&nbsp 2
            p
                strong Usuario:
                |&nbsp Aspirante
            p
                strong Prioridad:
                |&nbsp
            p
                strong Descripción:
                |&nbsp Quisiera que se genere una Hoja de Registro con los datos proporcionados en el pre-registro y las indicaciones a seguir para realizar la inscripción.
                //- Comienza historia de usuario
            h3 Envío de Hoja de Registro a correo electrónico
            p
                strong Número:
                |&nbsp 3
            p
                strong Usuario:
                |&nbsp Aspirante
            p
                strong Prioridad:
                |&nbsp
            p
                strong Descripción:
                |&nbsp Quisiera recibir un correo electrónico con mi hoja de registro.
            h3(class="text-center black") Administrador
            //Comienzan las historias de usuario del administrador
            h3 Inscripción a curso de desarrollo
            p
                strong Número:
                |&nbsp 4
            p
                strong Usuario:
                |&nbsp Administrador
            p
                strong Prioridad:
                |&nbsp
            p
                strong Descripción:
                |&nbsp Quisiera poder ver los grupos en los que hay lugares disponibles y pre-registrarme en el que quiero.
            h3 Gestionar grupos
            p
                strong Número:
                |&nbsp 5
            p
                strong Usuario:
                |&nbsp Administrador
            p
                strong Prioridad:
                |&nbsp Alta
            p
                strong Descripción:
                |&nbsp Debería gestionar los grupos y matrículas para poder publicarlos oportunamente según las fechas de la convocatoria.
            h3 Cupos llenos
            p
                strong Número:
                |&nbsp 6
            p
                strong Usuario:
                |&nbsp Administrador
            p
                strong Prioridad:
                |&nbsp
            p
                strong Descripción:
                |&nbsp Quisiera que los grupos llenos no se muestren en la página de pre-registro para que no puedan pre-registrarse más aspirantes.
            h3 Inscripción extraordinaria
            p
                strong Número:
                |&nbsp 7
            p
                strong Usuario:
                |&nbsp Administrador
            p
                strong Prioridad:
                |&nbsp
            p
                strong Descripción:
                |&nbsp Quisiera poder ofertar nuevamente los lugares de las personas que no cumplieron con los requisitos de la inscripción.
            h3 Lugares ofertados después de la reinscripción
            p
                strong Número:
                |&nbsp 8
            p
                strong Usuario:
                |&nbsp Administrador
            p
                strong Prioridad:
                |&nbsp
            p
                strong Descripción:
                |&nbsp Quisiera abrir los grupos de enseñanza básica del nuevo semestre con los lugares restantes después de la inscripción de alumnos al curso de desarrollo.
            h3 Inscripción a equipo
            p
                strong Número:
                |&nbsp 9
            p
                strong Usuario:
                |&nbsp Administrador
            p
                strong Prioridad:
                |&nbsp
            p
                strong Descripción:
                |&nbsp Quisiera inscribir alumnos al equipo representativo aunque no esté abierta alguna convocatoria o no haya estado inscrito en otro curso.
            h3 Listas de aspirantes
            p
                strong Número:
                |&nbsp 10
            p
                strong Usuario:
                |&nbsp Administrador
            p
                strong Prioridad:
                |&nbsp
            p
                strong Descripción:
                |&nbsp Quisiera poder obtener una lista de los aspirantes que realizaron su pre-registro y la matrícula que eligieron.
            h3(class="text-center black") Personal de apoyo
            //Comienzan las historias de usuario del personal de apoyo
            h3 Inscripción del aspirante
            p
                strong Número:
                |&nbsp 11
            p
                strong Usuario:
                |&nbsp Personal de apoyo inscripción
            p
                strong Prioridad:
                |&nbsp Alta
            p
                strong Descripción:
                |&nbsp Debería inscribir a los aspirantes que realizaron su pre-registro y que cumplen con los requisitos señalados en la convocatoria.
            h3 Cancelar inscripción
            p
                strong Número:
                |&nbsp 12
            p
                strong Usuario:
                |&nbsp Personal de apoyo inscripción
            p
                strong Prioridad:
                |&nbsp Media
            p
                strong Descripción:
                |&nbsp Debería poder cancelar el proceso de inscripción del aspirante que realizó su pre-registro, en dado caso de no cumplir con los términos señalados en la convocatoria, con el fin de liberar un lugar dentro del grupo que el aspirante no logró obtener.
