section(class="section-custom" id="sub-seccion-requerimientos")   
    div(class="row")
        div(class="col-sm-12")
            h2(class="section-title") Requerimientos
            hr(class="hr-custom")
            h3(class="text-center black") Aspirante
            //-Inicia Requerimiento
            p
                strong RF1:
                |&nbsp Cuando el aspirante ingrese al sistema para realizar su pre-registro, deberá llenar un formulario proporcionando los siguientes datos: 
            ol
                li Número de boleta
                li Escuela de procedencia
                li Nombre completo
                li Fecha de nacimiento
                li Sexo
                li Correo electrónico
                li Teléfono
                //-Inicia Requerimiento
            p
                strong RF2:
                |&nbsp El aspirante visualizará los lugares disponibles de cada grupo.
            //-Inicia Requerimiento
            p
                strong RF3:
                |&nbsp El aspirante concluirá con su pre-registro una vez que seleccione un grupo con algún lugar disponible.
            //-Inicia Requerimiento
            p
                strong RF4:
                |&nbsp El aspirante podrá cancelar su pre-registro en caso de no encontrar un lugar disponible en el grupo que desee.
            //-Inicia Requerimiento
            p
                strong RF5:
                |&nbsp El aspirante podrá cancelar su pre-registro en caso de no encontrar un lugar disponible en el grupo que desee.
            ol
                li Número de boleta, escuela de procedencia y nombre completo del aspirante.
                li Grupo
                li Matrícula
                li Lugar, hora y fecha de entrega de documentos

