section(class="section-custom" id="sub-seccion-ambito")   
    div(class="row")
        div(class="col-sm-12")
            h2(class="section-title") Ambito del software
            hr(class="hr-custom")
            p(class="text-justify") El software que vamos a desarrollar tiene, como objetivo principal, administrar y apoyar en las acciones que conllevan la inscripci&oacuten de alumnos a la alberca ol&iacutempica del IPN. El proyecto ser&aacute realizado para el Instituto Polit&eacutecnico Nacional, en particular, para la alberca ol&iacutempica ubicada en las instalaciones deportivas de la unidad Zacatenco. 
            p(class="text-justify") Se tiene como objetivo que el sistema automatice este proceso, impactando directamente en como los alumnos se pre-registran ingresando sus datos personales como el grupo al que quieran ingresar. Esto se completara con una hoja de registro que servir&aacute para completar su inscripci&oacuten. Tambi&eacuten se tiene contemplado un apartado dentro del sistema para que los encargados de administrar este proceso puedan administrar todo tipo de bajas, altas, cambios de grupo, as&iacute como tambi&eacuten consultas de todos los alumnos registrados respetando las reglas del negocio planteadas.
            p(class="text-justify") Todo esto se va a realizar con un formato de sitio web, siendo este el modo m&aacutes c&oacutemodo para realizar un registro en l&iacutenea y de esta manera tener controlados los tiempos en que permanece abierta la convocatoria. 
