section(class="section-custom" id="sub-seccion-historias-usuario")   
    div(class="row")
        div(class="col-sm-12")
            h2(class="section-title") Historias de Usuario
            hr(class="hr-custom")
            h3(class="text-center black") Aspirante
            //- Comienza historia de usuario
            h3 Elección de matricula
            p
                strong Número:
                |&nbsp 1
            p
                strong Número:
                |&nbsp 1
            p
                strong Número:
                |&nbsp 1
            p
                strong Número:
                |&nbsp 1
            
