section(class="section-custom" id="sub-seccion-ambito")   
    div(class="row")
        div(class="col-sm-12")
            h2(class="section-title") Ambito del software
            hr(class="hr-custom")