section(class="section-custom" id="sub-seccion-historias-usuario")   
    div(class="row")
        div(class="col-sm-12")
            h2(class="section-title") ¿Qué requiere la alberca?
            hr(class="hr-custom")