div(class="col-sm-12" id="#seccion-analisis-proyecto")
    include ./sub-secciones/sub-seccion-antecedentes.pug
    include ./sub-secciones/sub-seccion-requiere.pug
    include ./sub-secciones/sub-seccion-historias-usuario.pug
    include ./sub-secciones/sub-seccion-requerimientos.pug
    include ./sub-secciones/sub-seccion-ambito.pug
    include ./sub-secciones/sub-seccion-herramientas.pug

    