section(class="section-custom" id="sub-seccion-enrutadores")
    div(class="row")
        div(class="col-sm-12")
            h2(class="section-title") Enrutadores
            hr(class="hr-custom")
            div(class="row")
                div(class="col-sm-12")
                    h3 Direccionamiento
                    h4(class="black") Routes.PHP
                    p(class="text-justify black") En este archivo, se especifica al framework Laravel cuál es el controlador que se utilizará para almacenar información en la base de datos, así como para consultarla. Para este caso, el controlador que se utiliza es PRegController.php