footer(class="navbar-fixed-bottom navbar-fixed-bottom-custom color-ipn")
  .container-fluid
    div(class="row")
      div(class="col-md-offset-8 col-md-4")
        p(class="footer-text") ESCOM-IPN ISW 2017-1 Equipo Izquierda
