footer(class="navbar navbar-fixed-bottom navbar-fixed-bottom-custom color-ipn")
  .container
    div(class="row")
      div(class="col-sm-1")
        a(class="menu-element-footer" href="/inicio")
          i(class="fa fa-home fa-3x white fa-custom-footer-menu" data-toggle="tooltip" data-placement="top" title="Contexto del Proyecto" aria-hidden="true")
      div(class="col-sm-1")
        a(class="menu-element-footer" href="/analisis")
          i(class="fa fa-search fa-3x white fa-custom-footer-menu" data-toggle="tooltip" data-placement="top" title="Analisis del proyecto" aria-hidden="true")
      div(class="col-sm-1")
        a(class="menu-element-footer" href="/modelos")
          i(class="fa fa-cube fa-3x white fa-custom-footer-menu" data-toggle="tooltip" data-placement="top" title="Modelos del sistema" aria-hidden="true")
      div(class="col-sm-1")
        a(class="menu-element-footer" href="/funciones")
          i(class="fa fa-code fa-3x white fa-custom-footer-menu" data-toggle="tooltip" data-placement="top" title="Funciones" aria-hidden="true")
      div(class="col-sm-1")
      div(class="col-sm-1")

