footer(class="navbar-fixed-bottom navbar-fixed-bottom-custom color-ipn")
  .container
    div(class="row")
      div(class="col-md-4 col-md-offset-8")
        p(class="footer-text")
          prueba footer