//- _layout es la plantilla padre de cualquier pagina nueva que se agregue
extends _layout
//- Al usar block se inserta codigo en la parte que se definio como block en layaut
block personalStyles
  link(href='css/index.css', rel='stylesheet')

block content
  div(class="container-fluid")
    div(class="row")
      nav(class="col-sm-3 menu-container navbar-fixed-top" id="myNavSpy" role="navigation")
        //- Es muy importante definir con clases cuales son los menu elements y submenu elements
        ul(class="nav nav-stacked" role="tablist")
          li(class="menu-element-container")
            a(href='#seccion-modelado' class="menu-element") Funciones
            ul
              li(class="sub-menu-element-container")
                a(href='#sub-seccion-elementos' class="sub-menu-element") Elementos para el pre-registro 
              li(class="sub-menu-element-container")
                a(href='#sub-seccion-controladores' class="sub-menu-element") Controladores
              li(class="sub-menu-element-container")
                a(href='#sub-seccion-enrutadores' class="sub-menu-element") Enrutadores
      div(class="col-sm-offset-3 col-sm-9")
        div(class="row" id="main-info-container")
          //- Contexto proyecto esta dedicado a hablar de manera general del proyecto
              porque para que quienes etc.
          include ./secciones/funciones/seccion-funciones.pug
