extends _layout
block personalStyles
  link(href='css/index.css', rel='stylesheet')

block content
  div(class="container-fluid")
    div(class="row")
      nav(class="col-sm-3 menu-container navbar-fixed-top")
        blockquote(class="menu-element")
          p
            a(href="#seccion-bienvenida" class="") Inicio
            footer 
              a(href="#sub-seccion-planteamiento-problema" class="sub-menu-element") Planteamiento del problema
            footer 
              a(href="#sub-seccion-antecedentes-desarollo" class="sub-menu-element") Antecedentes del desarrollo
            footer 
              a(href="#sub-seccion-objetivo" class="sub-menu-element") Nuestro Objetivo
        blockquote(class="menu-element")
          p 
            a(href="#seccion-analisis") Analisis
        blockquote(class="menu-element")
          p 
            a(href="#seccion-diseno") Diseño
        blockquote(class="menu-element")
          p 
            a(href="#seccion-desarrollo") Desarrollo
      div(class="col-sm-offset-3 col-sm-9")
        div(class="row")
          div(class="col-sm-12" id="main-info-container")
            include ./secciones/seccion-bienvenida.pug
            include ./secciones/sub-seccion-planteamiento-problema.pug
            include ./secciones/sub-seccion-antecedentes-desarrollo.pug
            include ./secciones/sub-seccion-objetivo.pug