//- _layout es la plantilla padre de cualquier pagina nueva que se agregue
extends _layout
//- Al usar block se inserta codigo en la parte que se definio como block en layaut
block personalStyles
  link(href='css/index.css', rel='stylesheet')

block content
  div(class="container-fluid")
    div(class="row")
      nav(class="col-sm-3 menu-container navbar-fixed-top" id="myNavSpy" role="navigation")
        //- Es muy importante definir con clases cuales son los menu elements y submenu elements
        ul(class="nav nav-stacked" role="tablist")
          li(class="menu-element-container")
            a(href='#seccion-contexto-software' class="menu-element") Contexto del Proyecto
            ul
              li(class="sub-menu-element-container")
                a(href='#sub-seccion-alberca' class="sub-menu-element") Alberca
              li
                a(href='#sub-seccion-planteamiento-problema' class="sub-menu-element") Planteamiento del problema
              li
                a(href='#sub-seccion-antecedentes-desarrollo' class="sub-menu-element") Antecedentes del desarrollo
              li
                a(href='#sub-seccion-objetivo' class="sub-menu-element") Objetivo
          li(class="menu-element-container")
            a(href='#seccion-inscripciones' class="menu-element") Sistema de inscripciones
            ul
              li(class="sub-menu-element-container")
                a(href='#sub-seccion-analisis' class="sub-menu-element") Analisis

      div(class="col-sm-offset-3 col-sm-9")
        div(class="row" id="main-info-container")
          //- Contexto proyecto esta dedicado a hablar de manera general del proyecto
              porque para que quienes etc.
          include ./secciones/seccion-contexto-proyecto.pug
