section(class="section-custom" id="sub-seccion-objetivo")
    div(class="row")
        div(class="col-sm-12")
            h2(class="section-title") Nuestro Objetivo
            hr(class="hr-custom")
            p(class="text-justify") Agilizar el proceso de inscripción y reinscripción a los cursos impartidos en la Alberca Olímpica de la Unidad Profesional «Adolfo López Mateos» del Instituto Politécnico Nacional mediante un sistema web que se apegue a los requerimientos institucionales.
            