section(class="section-custom" id="sub-seccion-alberca")
    div(class="row")
        div(class="col-sm-12")
            h2(class="text-center section-title") Sistema gestor de inscripciones de la Alberca Olímpica IPN Zacatenco
            hr(class="hr-custom")
            div(class="col-sm-3")
                <img src="img/alberca/alberca.jpg" class="img-responsive" alt="Alberca IPN Zacatenco">
            div(class="col-sm-9")
            p(class="text-justify") Cada semestre la Alberca de la Unidad Profesional “Adolfo López Mateos” presenta una convocatoria de enseñanza básica y otra para pertenecer al equipo representativo. En las convocatorias se indican los requisitos que cada aspirante debe cumplir, incluyendo una hoja de registro, que se solicita mediante un pre-registro en la página de Deportes del Instituto Politécnico Nacional.

            