section(class="section-custom" id="seccion-Objetivo")
    div(class="row")
        div(class="col-md-12")
            h2(class="section-title") Nuestro Objetivo
            hr(class="hr-custom")
            p(class="text-justify") Short ribs pork chop pork t-bone prosciutto hamburger frankfurter salami chicken chuck. Shoulder corned beef flank pig, chuck boudin venison frankfurter ground round picanha brisket pork burgdoggen. Filet mignon biltong tongue, bresaola t-bone chicken flank pork rump hamburger picanha meatloaf ham hock pig ham. Tenderloin jerky chicken tongue. Andouille cow chuck, short loin burgdoggen chicken jowl doner pork loin cupim picanha tail. Shank chuck drumstick short ribs tri-tip tenderloin.