div(class="col-sm-12" id="#seccion-contexto-software")
    include ./sub-secciones/sub-seccion-alberca.pug
    include ./sub-secciones/sub-seccion-planteamiento-problema.pug
    include ./sub-secciones/sub-seccion-antecedentes-desarrollo.pug
    include ./sub-secciones/sub-seccion-objetivo.pug