section(class="section-custom" id="sub-seccion-modelo-datos")
    div(class="row")
        div(class="col-sm-12")
            h2(class="section-title") Modelo de datos
            hr(class="hr-custom")
            div(class="row")
                div(class="col-sm-12")
                    img(src="img/modelos/modelo.png" class="img-responsive" alt="Modelo de datos")