/*------------------Pagina general***************************/

.hr-custom {
    border-color: rgb(190, 190, 190);
    border-width: 80%;
}

body {
    padding-bottom: 70px;
    position: relative;
}


/*---------------------------Menu---------------------------*/

.menu-container {
    padding-left: 0px;
    font-family: 'Oswald', sans-serif;
}

.menu-element {
    color: black;
    font-size: 22px;
    background-color: none;
}

nav ul li.active a.menu-element {
    color: black;
    font-size: 22px;
    background-color: rgb(230, 230, 230);
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sub-menu-element {
    color: rgb(85, 85, 85);
    font-size: 18px;
}

.nav ul li.active a.sub-menu-element {
    color: rgb(40, 40, 40);
    list-style-type: square;
}

.nav ul li.active {
    list-style-type: square;
}
.nav ul li ul li.active a.sub-menu-element {
    color: rgb(50, 50, 50);
    list-style-type: circle;
}

.nav ul li ul li.active {
    list-style-type: circle;
}


/*-----------------------Secciones---------------------------*/

.section-custom {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
}

.section-title {
    font-family: 'Oswald', sans-serif;
}


/*--------------------------Footer--------------------------*/

.color-ipn {
    background-color: rgb(140, 80, 105);
}

.navbar-fixed-bottom-custom {
    padding-top: 2px;
    padding-bottom: 2px;
}

.footer-text {
    color: white;
    padding-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.white {
    color: white;
}
.black{
    color:black;
}

.fa-custom-footer-menu:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}