/*--------------------------Footer--------------------------*/
.color-ipn{
    background-color: rgb(140, 80, 105);
}
.navbar-fixed-bottom-custom{
    height: 60px;
}
.footer-text{
    color: white;
}
/*---------------------------Menu---------------------------*/
.menu-container{
    padding-left: 0px;
}
.menu-element{
    border-color: rgb(190, 190, 190);
    font-size: 20px;
}